:root {
    --main-background: #190422;
    --secondary-background: #FFFFFF;
    --main-button-background: #D0B3F5;
    --secondary-button-background: #b498d8;
    --main-color-text: #00000;
    --secondary-color-text: #FFFFFF;
    --font-h1: 600 80px Poppins;
    --font-h2: 600 48px Poppins;
    --font-h3: 600 48px Poppins;
    --font-h6: 600 20px Poppins;
    --font-p: 400 20px Poppins;
    --font-button: 500 22px Poppins;

}

* {
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(143.87deg, var(--main-background) 21.1%);

    & .container {
        padding: 17px 40px;
        max-width: 1280px;
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;

        & nav {
            display: flex;
            gap: 56px;
            align-items: center;
            font-family: Poppins;
            font-weight: 400;
            font-size: 20px;
            color: var(--secondary-background);
            margin-left: 267px;

            & button {
                width: 132px;
                height: 58px;
                border-radius: 7px;
                background: var(--main-button-background);
                box-shadow: 10px 7px 9px 0px var(--main-color-text)40;
                font: var(--font-button);
                color: var(--main-color-text);

                &:hover {
                    background-color: var(--secondary-button-background);
                }

            }
        }

        & .menu {
            display: none;
        }
    }

    & a {
        color: white;
        text-decoration: none;

        &:hover {
            color: lightgray;
        }
    }
}

main .section1 {
    padding-top: 116px;
    background: linear-gradient(143.87deg, var(--main-background) 21.1%, var(--main-background) 102.96%);


    & .container2 {
        padding: 0 40px;
        max-width: 1280px;
        position: relative;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding-bottom: 196px;
        align-items: center;

        & .left {
            display: flex;
            flex-direction: column;
            justify-content: center;

            & h1 {
                font: var(--font-h1);
                color: var(--secondary-background);
                margin-bottom: 32px;
            }

            & p {
                font: var(--font-p);
                color: var(--secondary-background);
                margin-bottom: 32px;
            }
        }

        & .right img {
            max-width: 555px;
            max-height: 581px;
        }

        & .statistic {
            position: absolute;
            width: 98%;
            bottom: -100px;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: auto;
            background: var(--secondary-background);
            padding: 47px 0;
            margin: 115px 5px 0 10px;
            border-radius: 16px;
            box-shadow: 0px 2px 10px 0px #00000026;


            & div:nth-child(1) {
                padding-left: 100px;
            }

            & div:nth-child(3) {
                padding-right: 100px;
            }

            & h3 {
                font: var(--font-h3);
                color: #1F262E;
            }

            & p {
                font: var(--font-p);
                color: #1F262E;
            }
        }
    }
}

main .section1 .left button, main .section2 .right button {
    width: 212px;
    height: 58px;
    border-radius: 7px;
    background: var(--main-button-background);
    box-shadow: 10px 7px 9px 0px var(--main-color-text)40;
    font: var(--font-button);
    color: var(--main-color-text);
    border: 0;

    &:hover {
        background-color: var(--secondary-button-background);
    }
}



main .section2 {
    display: flex;
    justify-content: space-between;
    padding: 258px 40px 0;
    max-width: 1280px;
    margin: auto;
    align-items: center;
    gap: 174px;


    & .left img {
        width: 100%;
    }

    & .right {
        width: 50%;

        & h2 {
            font: var(--font-h2);
            color: var(--main-color-text);
            margin-bottom: 20px;
        }

        & p {
            font: var(--font-p);
            color: var(--main-color-text);
            margin-bottom: 20px;
        }
    }
}

main .section3 {
    padding: 0 40px 176px;
    max-width: 1280px;
    margin: auto;
    align-items: center;


    & h2 {
        font: var(--font-h2);
        color: var(--main-color-text);
        margin: 188px 0 40px;
    }

    & .grid_tabl {
        display: grid;
        grid-template-columns: minmax(355px, 477px) minmax(355px, 477px);
        gap: 20px;
        grid-template-rows: auto;
        justify-content: space-between;

        & .element {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 40px;

            & div {
                width: 80px;
                height: 80px;
                background: var(--main-background);
                box-shadow: 0px 2px 8px 0px #5F214D33;
                border-radius: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            & img {
                width: 50%;
            }

            & h6 {
                font: var(--font-h6);
                color: #1F262E;
                margin-bottom: 16px;
                margin-top: 36px;
            }

            & p {
                font: var(--font-p);
                color: var(--main-color-text);
            }
        }
    }
}

footer {
    background: linear-gradient(143.87deg, var(--main-background) 21.1%, var(--main-background) 102.96%);

    & .container {
        padding: 72px 80px;
        max-width: 1280px;
        margin: auto;

        & nav {
            display: flex;
            gap: 33px;
            margin: 26px 0 41px;

            & p {
                font: var(--font-p);
                color: var(--secondary-background);
            }
        }

        & :nth-child(3) {
            display: flex;
            gap: 21px;
        }
    }
}

@media (max-width :1200px) {
    header .container {
        display: flex;
        justify-content: space-between;
    }

    header .container nav {
        display: none;
    }

    header .container .menu {
        display: block;
    }

    main .section1 .container2 .left h1 {
        font-size: 60px;
    }

    main .section2 {
        gap: 100px;
    }
}

@media (max-width :945px) {
    main .section1 .container2 .left h1 {
        font-size: 48px;
    }

    main .section2 .right h2 {
        font-size: 32px;
    }

    footer .container nav {
        flex-direction: column;
    }

    main .section2 {
        gap: 60px;
    }

    footer .container {
        padding: 72px 40px;
    }
}

@media(max-width :890px) {
    main .section1 .container2 .right img {
        display: none;
    }

    main .section3 {
        padding: 0 40px 123px;
    }
}

@media(max-width :800px) {
    main .section3 .grid_tabl {
        display: flex;
        flex-direction: column;
    }

    main .section3 {
        padding: 0 40px 31px;
    }

    footer .container {
        padding: 72px 15px;
    }
}

@media(max-width :715px) {
    main .section2 {
        flex-direction: column;
        padding: 358px 40px 0;
    }

    main .section2 .left div {
        display: flex;
        justify-content: center;
    }

    main .section2 .left img {
        width: 75%;
    }

    main .section1 .container2 .statistic {
        flex-direction: column;
        gap: 32px;
        bottom: -300px;
        width: 94%;
        padding: 32px 0;
    }

    main .section1 .container2 .statistic div:nth-child(1) {
        padding-left: 0px;
    }

    main .section1 .container2 .statistic div:nth-child(3) {
        padding-right: 0px;
    }

    main .container2 {
        padding-bottom: 250px;
    }

    main .section2 .right {
        width: 100%;
    }

    main .section3 h2 {
        font-size: 32px;
        margin: 107px 0 40px;
    }
}